*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', 'open-sans';
}

a{
    text-decoration: none;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container{
    width: 100vw;
    height: 100vh;
     background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(255, 200, 221, 1)),
        url(./assets/jojonini1.jpg) center/cover no-repeat;
}

.content{
    top:50%;
    left: 15%;
    position: absolute;
    transform: translate(-15%, -50%);
}

.content h1{
    font-size: 56px;
    font-weight: 600;
    color: white;
}

.content button{
    padding: 1rem 2rem;
    margin-top: 20px;
    background-color: #FFC8DD;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.content button:hover{
    background-color: white;
    color: #FFC8DD;
}

.see-time{
    display: flex;
}

.see-time div{
    flex-basis: 100px;
}

.see-time div p{
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    color: white;
}

.see-time div span{
    color: white;
    font-weight: 600;
}

.hearts{
    width: 7rem;
    position: absolute;
    right: 20%;
    bottom: 0;
    animation: hearts 2s linear infinite;
}

#h2{
    right: 40%;
    top: 0;
    animation: heart2 2s linear infinite;  
}


@keyframes hearts{
    0%{
        bottom: 0;
        opacity: 0;
    }
    50%{
        bottom: 5rem;
        opacity: 1;
    }
    100%{
        bottom: 10rem;
        opacity: 0;
    }
}

@keyframes heart2{
    0%{
        top: 0;
        opacity: 0;
    }
    50%{
        top: 5rem;
        opacity: 1;
    }
    100%{
        top: 10rem;
        opacity: 0;
    }
}

.rewards-container{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reward-row{
    display: flex;
    gap: 1rem;
}

.reward-row button{
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #FFC8DD;
    color: white;
    transition: all 0.3s ease-in-out;
}

.reward-row button:hover{
    background-color: white;
    color: #FFC8DD;
}

.locked{
    cursor: not-allowed !important;
    background-color: #6c757d !important;
    color: #495057 !important;
    border: 1px solid #6c757d !important;
}

.locked:hover{
    background-color: #6c757d !important;   
    color: #495057 !important;  
}   

#btn-10{
    height: 3rem;
    border-radius: 0.5rem;
}

.popup-container{
    display: none;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
}

#pop0{
    width: 40%;
    height: 20%;
    padding: 1rem;
}

#pop0 p{
    font-size: 1.2rem;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 20%;
}


.image-container img{
    width: 100%;
    height: 23rem;
    border-radius: 1rem;
}

.music-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;  
    border-radius: 1rem;
    background-color: #FFC8DD;
}

.music-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.music-container img{
    width: 7rem;
    height: 7rem;
    border-radius: 1rem 0 0 1rem;
}

.music-container button{
    width: 3rem;
    height: 3rem;
    align-self: center;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: white;
    color: #FFC8DD;
    font-size: 1.5rem;
}

.music-container button:hover{
    background-color: #f8f8f8;
    transform: scale(1.1);
    color: #FFC8DD;
}

.msc-body-content{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.msc-btn-container{
    display: flex;
    gap: 1rem;
}

.close{
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100% 100% 100% 100%;
    border: none;
    cursor: pointer;
    background-color: #FFC8DD;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.close:hover{
    background-color: white;
    color: #FFC8DD;
    border: 2px solid #FFC8DD;
    transform: scale(1.1);
}

.visible{
    display: flex !important;
}

#jn2{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#jn2 img{
    width: 50%;
    height: 15rem;
    object-fit: cover;
}

#jn3 div{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
}

#jn3 div img{
    width: 50%;
    height: 15rem;
    object-fit: cover;
}

#jn3 img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

#jn4{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#jn4 img{
    width: 50%;
    height: 15rem;
    object-fit: cover;
}

#jn5{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#jn5 img{
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

#jn6{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#jn6 img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
